[submodule "node-red-contrib-komfovent"]
	path = node-red-contrib-komfovent
	url = https://github.com/kadza/node-red-contrib-komfovent
[submodule "node-red-admin"]
	path = node-red-admin
	url = https://github.com/kadza/node-red-admin
[submodule "node-red-flows-home"]
	path = node-red-flows-home
	url = https://github.com/kadza/node-red-flows-home
[submodule "node-red-private-catalogue"]
	path = node-red-private-catalogue
	url = https://github.com/kadza/node-red-private-catalogue
[submodule "home-automation-prod"]
	path = home-automation-prod
	url = git@github.com:kadza/home-automation-prod.git

[submodule "home-app"]
	path = home-app
	url = git@github.com:kadza/home-app.git
